/*body {
    background: url("https://thumbs.gfycat.com/ImaginativeGrandioseArcticwolf-size_restricted.gif");
   background-size: 100%;
}
*/
/*index*/

.h5-card{
    color:black;
}

#scrollUp {
    position: fixed;
    bottom : 50px;
    right: -100px;
    opacity: 0.5;
}

.card {
    height: 380px;
}

.btn-card {
    white-space: normal;
    margin-bottom: 20px;

}

.btn-primary{
     background-color: darkorange;
     border-color: darkred;
 }

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background-color: darkorange;
    border-color: darkred;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:focus {
    background-color: darkorange;
    border-color: darkred;
}

/* style AUrélien*/

.body-header {
    background-color: red;
    color: white;
}


.h1-fight, .h2-fight, .h3-fight{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

.h2-fight{
    border: solid;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    background-color: darkred;
}

.h2-header{
    width: 300px;
    border: solid;
    border-radius: 10px;
    background-color: darkred;
    margin: auto;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

.PV-fight{
    margin: 10px;
    height: 30px;
    border: solid;
    border-radius: 10px;
}

.img-fight{
    border-radius: 200px;
    display: block;
    height: 400px;
    width: 400px;
}

.img-vs{
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
}

.btn-attack{
    margin: auto;
}

.btn-1, .btn-2, .btn-3, .btn-4{
    width: 200px;
    margin: 5px;
}


.section-fight{
    background-color: darkred;
}

.section-header{
    border: solid;
    background-color: darkorange;
    border-radius: 10px;
}

.section-no-color{
    background-color: none;
}

p{
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    color: white;
}

a:link{
    text-decoration: none;
    color: white;
}
.link-menu, .link-menu:focus {
    background-color: darkred;
    border-color: white;
}

.link-menu:hover, .link-menu:active:hover {
    background-color: darkblue;
    border-color: white;

}
/*-- fin partie AUrélien*/

.p-pedigree {
    font-weight: bold;
}

.h4-modalTitle{
    margin: 20px auto;
    background-color: white;
    color: black;
}

.modal-title,
h6 {
    color:black;
}


/*couleurs progress-bar*/
.progress-bar-intelligence{
   background-color: #6eff33;
    font-size: 200px;
}

.progress-bar-strength{
    background-color: #ff33f9;
}

.progress-bar-speed{
    background-color: #ffa233;
}

.progress-bar-durability{
    background-color: #5233ff;
}

.progress-bar-power{
    background-color: #ff3333;
}

.progress-bar-combat{
    background-color: #f9ff33;
}

